body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
  background: linear-gradient( rgb(255, 255, 255), rgb(255, 196, 196)); /* Degradê diagonal */
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  color: #000000;
  background-attachment: fixed;
}


header {
  background-color: #ffcecf;
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  text-shadow: #333 1px 1px;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.P2 {
  font-size: 1.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: #5e5d5d 1px 1px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input, select, textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 12px;
  font-size: 1em;
  background-color: #ff9aa2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff6f7d;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #888;
}





/* Navegação ( não mexer ) */
ul {
    list-style: none;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    gap: 15px;
    margin: 0;
    border-bottom: 3px solid #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
}
ul li a {
    text-decoration: none;
    color: #4b2c2c;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #ffbbc6;
}

/* Cabeçalho */
h1 {
    text-align: center;
    margin-top: 30px;
    color: #d850a6;
}

p {
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
    font-size: 18px;
}

